<style>body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin {
    margin-bottom: 10px;
  }
  .form-signin {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }</style>

<div class="container">

        <form class="form-signin">
                <label class="sr-only">Username:</label>
                <input type="text" class="form-control" placeholder="Username" ng-model="username" required autofocus><br>
                <label  class="sr-only">Password:</label>
                <input type="text" class="form-control" placeholder="Password" ng-model="password" required autofocus><br>
                <label  class="sr-only">Email:</label>
                <input type="text" class="form-control" placeholder="Email" ng-model="email" required autofocus><br>
                <label  class="sr-only">Phone:</label>
                <input type="text" class="form-control" placeholder="Phone" ng-model="phone" required autofocus><br>
                <label  class="sr-only">Location: </label>
                <input type="text" class="form-control" placeholder="Location" ng-model="location" required autofocus><br>
                
                <label class="radio-inline control-label">
                    <input type="radio" class="form-control" name="user_type" value="false" ng-model="user_type">Company
                </label>
                <label class="radio-inline control-label">
                    <input type="radio" class="form-control" name="user_type" value="true" ng-model="user_type">Job Seeker
                </label><br><br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">Register</button>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="cancel()">Cancel</button>
        </form>
        
    </div>