<div class="panel-body">
  <form class="form-signin">
    <div class="form-group">
      <label for="username">Username: </label>
      <input type="text" name="username" class="form-control" [(ngModel)]="newUser.username" placeholder="Username" /><br>
      <label for="password">Password: </label>
      <input type="password" name="password" class="form-control" [(ngModel)]="newUser.password" placeholder="Password" /><br>
      <label for="username">Location: </label>
      <input type="text" name="location" class="form-control" [(ngModel)]="newUser.location" placeholder="Location" /><br>
      <label for="password">Email: </label>
      <input type="text" name="email" class="form-control" [(ngModel)]="newUser.email" placeholder="Email" /><br>
      <label for="password">Phone: </label>
      <input type="text" name="phone" class="form-control" [(ngModel)]="newUser.phone" placeholder="Phone" /><br>
      <button class="btn btn-primary" type="button" (click)="registerNewUser()">Register</button>
      <button class="btn btn-primary" type="button" (click)="backToLogin()">Cancel</button>
    </div>
  </form>
</div>