<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RL</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul *ngIf="!status" class="nav navbar-nav">
          <li><a class="active" [routerLink]="['/']">Login</a></li>
          <li><a [routerLink]="['register']">Registration</a></li>
        </ul>
        <ul *ngIf="status" class="nav navbar-nav">
            <li><a class="active" [routerLink]="['/home/' + username]">Home</a></li>
            <li><a [routerLink]="['/home/' + username + '/createPost']">Create Post</a></li>
            <li><a [routerLink]="['/home/' + username + '/listPost']">List Post</a></li>
            <li><a [routerLink]="['/']" (click)="logout()">Logout</a></li>
          </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>